.device {
    padding: 8px;
    gap: 8px;

    background: var(--background-secondary);
    border: solid 1px var(--border);

    display: grid;
    grid-template-columns: auto 200px 1fr;
    grid-template-rows: 1fr;

    .icon-container {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;
    }

    .icon-container img {
        height: 48px;
    }

    .info {
        width: 200px;
    }

    .controls {
        display: flex;

        justify-content: end;
        align-items: start;

        gap: 8px;
    }

    .controls button {
        padding: 8px 16px;

        border: none;
        border-radius: 4px;

        background: var(--button);
        color: var(--primary-text);

        user-select: none;
    }

    .controls button:hover {
        cursor: pointer;

        background: var(--button-hover);
    }

    .name {
        color: var(--primary-text);

        font-size: 24px;
    }

    .address, .mac {
        color: var(--secondary-text);

        font-size: 10px;
    }
    
    .error {
        color: var(--error);
    }

    .success {
        color: var(--success);
    }
}