# Dependency directories
node_modules/

# Build artifacts
dist/
build/
.next/ # For Next.js projects
out/ # For Nuxt.js projects

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.development
.env.production
.env.local
.env.*.local
src/config.json

# Editor/IDE specific files
.vscode/ # Visual Studio Code
.idea/ # IntelliJ IDEA
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows

# Test coverage reports
coverage/

# npm package cache
.npm/

# Other temporary files
tmp/
*.tmp
*.bak