* {
    margin: 0;
    padding: 0;
}

:root {
    --background-primary: #1f1f1f;
    --background-secondary: #181818;
    --background-intermediate: #1b1b1b;
    --text-primary: #e1e1e1;
    --text-secondary: #afafaf;
    --hover: #2b2b2b;
    --accent-color: #0078d4;
    --active-color: #178a00;
    --inactive-color: #9b0000;
}

body {
    background: var(--background-primary);

    display: grid;
    grid-template-columns: 1fr minmax(500px, 5fr) 1fr;

    padding-block: 16px;
}

html {
    scrollbar-color: var(--hover) var(--background-intermediate);
    scrollbar-width: thin;
}

header {
    grid-column: 2;
}

main {
    grid-column: 2;
}

.header {
    font-size: 20px;

    color: var(--text-primary);
}

p {
    font-size: 16px;

    color: var(--text-secondary);

    font-family: Arial, Helvetica, sans-serif;
}

.device {
    background: var(--background-intermediate);

    border: var(--hover) solid 1px;

    display: flex;
    flex-direction: column;

    padding: 8px;
    gap: 4px;
}

.device div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    gap: 4px;
}

.device .primary-label {
    color: var(--text-primary);

    font-size: 16px;
}

.device .secondary-label {
    color: var(--text-secondary);
    
    font-size: 14px;
}

.device .state-label {
    font-size: 16px;
}

button {
    border-radius: 0;

    border: var(--hover) solid 1px;

    background: var(--background-secondary);
    color: var(--text-secondary);

    padding: 5px 10px;
    min-width: 64px;
}

button:hover {
    cursor: pointer;

    background: var(--hover);
    color: var(--text-primary);
}

ul {
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 5px;
    padding: 5px;

    background: var(--background-intermediate);
    border: var(--background-secondary) solid 1px;
}

.online {
    color: var(--active-color);
}

.offline {
    color: var(--inactive-color);
}